/* Global */
body {
	cursor: url(../cursor/default.cur), auto;
	font: 15px/1.5 Source Sans Pro, Helvetica, Arial, Sans-serif;
	margin: 0;
	padding: 0;
	background: url(../img/background.jpg) no-repeat center center fixed;
  background-size: 100% 100%;
}

header {
	background-color: #222;
	width: 100%;
	min-height: 80px;
	padding-top: 10px;
	border-bottom: orange solid 3px;
}

.container {
	width: 75%;
	margin: auto;
	overflow: hidden;
}

.box {
	padding: 15px;
	color: white;
	background-color: #222;
	border: orange solid 3px;
	margin: 0;
}

.box p {
	margin-top: 15px;
}

a {
	color: #034f84;
	text-decoration: none;
	cursor: url(../cursor/pointer.cur), auto;
}

a:hover {
	text-decoration: underline;
}

ul {
	margin: 0;
	padding: 0;
}

/* Showcase */
#showcase {
	min-height: 400px;
	background: url(../img/showcase.jpg) no-repeat 0 -650px;
	text-align: center;
	color: white;
	overflow: hidden;
	border-bottom: orange solid 3px;
}

#showcase h1 {
	margin-top: 100px;
	font-size: 40px;
	margin-bottom: 10px;
}

#showcase p {
	font-size: 28px;
}

/* Content */
#content {
	background-color: white;
	padding: 20px;
	overflow: hidden;
}

/* Logo */
#logo {
	margin-left: 10px;
	float: left;
	width: 50%;
	text-align: center;
}

#logo p {
	margin: 0;
}

#logo h1 {
	margin: 0;
	font-family: Times New Roman;
	font-weight: bold;
	font-size: 40px;
	text-shadow: -1px 0 orange, 0 1px orange, 1px 0 black, 0 -1px black;
	color: yellow;
}

#logo a {
	color: yellow;
}

#logo a:hover {
	text-decoration: none;
}

/* Nav */
#nav {
	float: right;
	margin: 20px 0 0 10px;
}

#nav li {
	display: inline;
	float: left;
	padding: 0 20px 0 20px;
}

#nav li a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

#nav li a:hover {
	color: orange;
	font-weight: bold;
}

#nav .active {
	color: yellow;
	font-weight: bold;
}

/* Form */
form {
	max-width: 100%;
}

form input, textarea {
	border: #CCC solid 2px;
	width: 100%;
	box-sizing: border-box;
}

form textarea {
	height: 10em;
}

form input:focus, textarea:focus {
	outline: none;
	border: orange solid 2px;
}

form input[type=submit] {
	background: #222;
	color: white;
	font-size: 18px;
	padding: 10px;
	text-transform: uppercase;
	width: 33%;
	float: right;
}

form label {
	display: block;
}

form label span {
	display: block;
}

/* Sidebar */
aside#sidebar {
	float: right;
	width: 40%;
	margin-top: 0;
}

/* Main column */
article#main-col {
	float: left;
	width: 50%;
}

/* Staff */
ul#staff li {
	list-style-type: none;
	padding: 20px;
	border: #CCC solid 1px;
	margin-bottom: 5px;
	background: #EEE;
}

ul#staff h3, p {
	margin: 2px;
}

a.linkedin  {
	text-decoration: none;
	color: #0077B5;
}

a.github {
	text-decoration: none;
	color: #222;
}

/* Pacman */
#***REMOVED*** {
  max-height:450px;
  max-width:342px;
  margin:20px auto;
}

/* Footer */
#footer {
	background-color: #222;
	color: white;
	padding: 20px;
	text-align: right;
	border-top: orange 3px solid;
	clear: both;
}

#footer a {
	color: white;
	text-decoration: none;
}

/* Media queries */
@media(max-width: 1400px) {
	#logo, #nav, #nav li, article#main-col, aside#sidebar {
		float: none;
		text-align: center;
		width: 100%;
	}

	header {
		margin-bottom: 20px;
		padding-bottom: 10px;
	}


}
