/* Global */
body {
	cursor: url(../cursor/default.cur), auto;
	font: 15px/1.5 Source Sans Pro, Helvetica, Arial, Sans-serif;
	margin: 0;
	padding: 0;
	background: url(../img/background.jpg) no-repeat center center fixed;
  background-size: 100% 100%;
}

header {
	background-color: #202020;
	position: fixed;
	top: 0;
	min-width: 100%;
	min-height: 80px;
	padding-top: 10px;
	border-bottom: orange solid 2px;
	overflow: hidden;
	z-index: 1;
}

.container {
	width: 75%;
	margin: auto;
	overflow: hidden;
}

.dark {
	padding: 15px;
	color: white;
	background-color: #202020;
	border: orange solid 2px;
	margin: 0;
}

.dark p {
	margin-top: 15px;
}

a {
	color: #034f84;
	text-decoration: none;
	cursor: url(../cursor/pointer.cur), auto;
}

a:hover {
	text-decoration: underline;
}

ul {
	margin: 0;
	padding: 0;
}

/* Showcase */
#showcase {
	margin: -20px;
	min-height: 400px;
	background: url(../img/showcase.jpg) no-repeat 0 -650px;
	text-align: center;
	color: white;
	overflow: hidden;
	border-bottom: orange solid 2px;
}

#showcase h1 {
	margin-top: 100px;
	font-size: 40px;
	margin-bottom: 10px;
}

#showcase p {
	font-size: 28px;
}

#showcase form input[type=submit] {
	margin-top: 10px;
	background-color: orange;
	color: white;
	text-transform: uppercase;
	font-size: 18px;
	padding: 10px 50px;
	border: none;
}

#showcase form input[type=submit]:hover {
	background-color: darkorange;
}

/* Boxes */
#boxes {
	margin-top: 20px;
	text-align: center;
	background-color: white;
}

#boxes .box {
	float: left;
	text-align: center;
	width: 30%;
	padding: 1.5%;
}

#boxes .box img {
	width: 140px;
}

/* Content */
#content {
	margin-top: 90px;
	background-color: white;
	padding: 20px;
	overflow: hidden;
}

/* Logo */
#logo {
	position: absolute;
	margin-left: 10px;
	float: left;
	width: 50%;
	text-align: center;
}

#logo h1 {
	margin: 0;
	font-family: Times New Roman;
	font-weight: bold;
	font-size: 40px;
	text-shadow: -1px 0 orange, 0 1px orange, 1px 0 black, 0 -1px black;
	color: #FFF200;
}

#logo a {
	color: #FFF200;
}

#logo a:hover {
	text-decoration: none;
}

/* Nav */
#nav {
	float: right;
	font-weight: bold;
	margin: 20px 0;
	padding-bottom: 20px;
}

#nav li {
	display: inline;
	float: left;
	padding: 0 20px 0 20px;
}

#nav li a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

#nav li a:hover {
	color: orange;
}

#nav .active {
	color: #FFF200;
}

/* Message form */
form#message {
	overflow: hidden;
}

form#message input, textarea {
	border: #CCC solid 2px;
	width: 100%;
	box-sizing: border-box;
}

form#message textarea {
	height: 10em;
	resize: none;
}

form#message input:focus, textarea:focus {
	outline: none;
	border: orange solid 2px;
}

form#message input[type=submit] {
	background: #202020 url('../img/batmanlogo.png') no-repeat 3%;
	background-size: 50px;
	color: white;
	font-size: 18px;
	padding: 10px;
	text-transform: uppercase;
	margin-bottom: 2px;
	border: none;
}

form#message .wrapper {
	display: flex;
}

/* Sidebar */
aside.sidebar {
	float: right;
	width: 40%;
	margin-top: 0;
}

/* Main column */
article.main-col {
	float: left;
	width: 50%;
}

/* Staff */
ul#staff li {
	list-style-type: none;
	padding: 20px;
	border: #CCC solid 1px;
	margin-bottom: 5px;
	background: #EEE;
}

ul#staff h3, p {
	margin: 2px;
}

a.linkedin  {
	text-decoration: none;
	color: #0077B5;
}

a.github {
	text-decoration: none;
	color: #202020;
}

/* Pacman */
#***REMOVED*** {
  max-height:450px;
  max-width:342px;
  margin:20px auto;
}

/* Footer */
#footer {
	background-color: #202020;
	color: white;
	padding: 20px;
	text-align: right;
	border-top: orange 2px solid;
	clear: both;
}

#footer a {
	color: white;
	text-decoration: none;
}

/* Media queries */
@media(max-width: 1200px) {
	#logo, #nav, #nav li,
	article.main-col,
	aside.sidebar,
	form,	h1, h2, h3,
	#boxes .box {
		position: static;
		float: none;
		text-align: center;
		width: 100%;
	}

	header {
		position: static;
	}

	#showcase h1 {
		margin-top: 100px;
		font-size: 26px;
	}

	#showcase p {
		font-size: 22px;
	}

	#content {
		margin-top: 0;
	}

}

@media(max-width: 800px) {
	#logo {
		display: none;
	}

	#showcase {
		display: none;
	}

	form#message .wrapper {
		display: inline;
	}

	#footer {
		font-size: 12px;
	}
}
