{% extends 'layout.html' %}
{% set active_page = 'contact' %}
{% block title %}BATMAN&#8482; - Contact{% endblock %}

{% block content %}
	<div>
		<p><b>Important:</b> Please make sure to consult the <a href="/help">help page</a> before contacting the staff.</p>
		<h2>BATMAN&#8482; Staff</h2>
	</div>
	<article id="main-col">
		<ul id="staff">
			<li>
				<h3>
					Jonathan Feenstra
					<a class="linkedin" href="https://www.linkedin.com/in/jonathanfeenstra">
						<i class="fab fa-linkedin" aria-hidden="true"></i>
					</a>
					<a class="github" href="https://github.com/JonathanFeenstra">
						<i class="fab fa-github-square" aria-hidden="true"></i>
					</a>
				</h3>
				<p>Project leader, webdesigner &amp software designer</p>
				<p>&#x2709; <a href="mailto:JCD.Feenstra@student.han.nl?subject=BATMAN">JCD.Feenstra@student.han.nl</a></p>
			</li>
			<li>
				<h3>
					Fini De Gruyter, MSc
					<a class="linkedin" href="https://www.linkedin.com/in/finigruyter">
						<i class="fab fa-linkedin" aria-hidden="true"></i>
					</a>
					<a class="github" href="https://github.com/FiniDG-HAN">
						<i class="fab fa-github-square" aria-hidden="true"></i>
					</a>
				</h3>
				<p>Biologist</p>
				<p>&#x2709; <a href="mailto:FE.DeGruyter@student.han.nl?subject=BATMAN">FE.DeGruyter@student.han.nl</a></p>
			</li>
			<li>
				<h3>
					Alex Janse
					<a class="linkedin" href="https://linkedin.com/in/alex-janse-408a8495">
						<i class="fab fa-linkedin" aria-hidden="true"></i>
					</a>
					<a class="github" href="https://github.com/grimcode">
						<i class="fab fa-github-square" aria-hidden="true"></i>
					</a>
				</h3>
				<p>Software developer</p>
				<p>&#x2709; <a href="mailto:A.Janse@student.han.nl?subject=BATMAN">A.Janse@student.han.nl</a></p>
			</li>
			<li>
				<h3>
					Thijs Weenink
					<a class="linkedin" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
						<i class="fab fa-linkedin" aria-hidden="true"></i>
					</a>
					<a class="github" href="https://github.com/youixentoo">
						<i class="fab fa-github-square" aria-hidden="true"></i>
					</a>
				</h3>
				<p>Software developer</p>
				<p>&#x2709; <a href="mailto:MV.Weenink@student.han.nl?subject=BATMAN">MV.Weenink@student.han.nl</a></p>
			</li>
		</ul>
		<h2>Send a message</h2>
		<form action="https://formspree.io/JCD.Feenstra@student.han.nl" method="POST">
			<label><span>Name</span>
				<input type="text" name="name"></label>
			<label><span>Email</span>
				<input type="email" name="_replyto"></label>
			<label><span>Message</span>
				<textarea name="message"></textarea></label>
			<input type="submit" value="Send">
		</form>
	</article>
	<aside id="sidebar">
		<div class="box">
			<h2>Location</h2>
				<script src='https://maps.googleapis.com/maps/api/js?libraries=places&key=***REMOVED***'></script>
				<div style='overflow:hidden;height:300px;width:400px;color:black;'>
					<div id='gmap_canvas' style='height:300px;width:400px;'></div>
				</div>
				<script type='text/javascript'>
					function init_map(){var myOptions = {zoom:5,center:new google.maps.LatLng(51.8267192,5.863048899999967),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(51.8267192,5.863048899999967)});infowindow = new google.maps.InfoWindow({content:'<strong>The Batcave&#8482;</strong><br>Laan van Scheut 2, Nijmegen, Nederland<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);
				</script>
			<p> Opening hours: Monday to Friday 8:45 AM - 10:00 PM.</p>
		</div>
	</aside>
{% endblock %}
