{% extends 'layout.html' %}
{% set active_page = 'contact' %}
{% block title %}BATMAN - Contact{% endblock %}

{% block content %}
	<div>
		<p>Please make sure to consult the <a href="/help">help page</a> before contacting the staff.</p>
		<h2>Staff</h2>
	</div>
	<article id="main-col">
		<ul id="staff">
			<li>
				<h3>Jonathan Feenstra <a href="https://www.linkedin.com/in/jonathanfeenstra"><i class="fab fa-linkedin" aria-hidden="true"></a></i></h3>
				<p>Project leader, webdesigner &amp programmer</p>
				<p>&#x2709; <a href="mailto:JCD.Feenstra@student.han.nl?subject=BATMAN">JCD.Feenstra@student.han.nl</a></p>
			</li>
			<li>
				<h3>Fini De Gruyter, MSc <a href="https://www.linkedin.com/in/finigruyter"><i class="fab fa-linkedin" aria-hidden="true"></a></i></h3>
				<p>Programmer</p>
				<p>&#x2709; <a href="mailto:FE.DeGruyter@student.han.nl?subject=BATMAN">FE.DeGruyter@student.han.nl</a></p>
			</li>
			<li>
				<h3>...</h3>
				<p>...</p>
				<p>&#x2709; <a href="mailto:...@student.han.nl?subject=BATMAN">...@student.han.nl</a></p>
			</li>
			<li>
				<h3>...</h3>
				<p>...</p>
				<p>&#x2709; <a href="mailto:...@student.han.nl?subject=BATMAN">...@student.han.nl</a></p>
			</li>
		</ul>
	</article>
	<aside id="sidebar">
		<div class="box">
			<h2>Location</h2>
				<script src='https://maps.googleapis.com/maps/api/js?libraries=places&key=***REMOVED***'></script>
				<div style='overflow:hidden;height:300px;width:400px;color:black;'>
					<div id='gmap_canvas' style='height:300px;width:400px;'></div>
				</div>
				<script type='text/javascript'>
					function init_map(){var myOptions = {zoom:5,center:new google.maps.LatLng(51.8267192,5.863048899999967),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(51.8267192,5.863048899999967)});infowindow = new google.maps.InfoWindow({content:'<strong>The Batcave&#8482;</strong><br>Laan van Scheut 2, Nijmegen, Nederland<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);
				</script>
			<p> Opening hours: Monday to Friday 8:45 AM - 10:00 PM.</p>
		</div>
	</aside>
{% endblock %}
