{% extends 'layout.html' %}
{% set active_page = 'home' %}
{% block title %}BATMAN - Biomedical Article Text Mining ApplicatioN{% endblock %}

{% block content %}
<!-- Slider -->
<div class="slider-wrapper">
	<div class="slider">
		<ul class="slides">
			<li>
				<img src="{{ url_for('static', filename='img/batman.gif') }}">
				<div class="caption center-align">
					<h1>Welcome to BATMAN<br>Biomedical Article Text Mining ApplicatioN</h1>
					<p>Investigating the health benefits of bitter gourd and yam compounds</p>
					<form action="{{ url_for('network') }}">
				    <input type="submit" value="Results">
					</form>
				</div>
			</li>
			<li>
				<img src="{{ url_for('static', filename='img/c-elegans.jpg') }}">
				<div class="caption left-align">
					<h1>Feeding yam and bitter gourd to <i>C. elegans</i></h1>
					<p>The health effects of yam and bitter gourd are currently being researched on <i>Caenorhabditis elegans</i></p>
					<form action="{{ url_for('about') }}">
						<input type="submit" value="Learn more">
					</form>
				</div>
			</li>
			<li>
				<img src="{{ url_for('static', filename='img/showcase.jpg') }}">
				<div class="caption center-align">
					<h1>Text mining results for the investigation</h1>
					<p>The results are based on the co-occurence of keywords in PubMed articles</p>
					<form action="{{ url_for('about') }}">
				    <input type="submit" value="Learn more">
					</form>
				</div>
			</li>
			<li>
				<img src="{{ url_for('static', filename='img/***REMOVED***.jpg') }}">
				<div class="caption right-align">
					<h1>Bored of watching graphs? - Play Pacman on our website!</h1>
					<p>How many points can you score? Only one way too find out!</p>
					<form action="{{ url_for('***REMOVED***') }}">
				    <input type="submit" value="Play">
					</form>
				</div>
			</li>
		</ul>
	</div>
</div>
<!-- Info boxes -->
<section id="boxes">
	<div class="box">
		<a href="https://www.ncbi.nlm.nih.gov/pubmed"><img src="{{ url_for('static', filename='img/pubmed-logo.png')}}" alt="PubMed"></a>
		<h3>PubMed Abstracts</h3>
		<p>Our data comes from reliable
			<a href="https://www.ncbi.nlm.nih.gov/pubmed">PubMed</a>
			 abstracts from articles written by experienced certified scientists.</p>
	</div>
	<div class="box">
		<img src="{{ url_for('static', filename='img/text-mining.png')}}" alt="Text Mining">
		<h3>Text Mining</h3>
		<p>The data is collected using specially designed highly efficiënt text mining algorithms for optimal results.</p>
	</div>
	<div class="box">
		<a href="https://github.com/d3/d3-force"><img src="{{ url_for('static', filename='img/force-layout.png')}}" alt="D3 Force"></a>
		<h3>JavaScript D3 Force</h3>
		<p>The visual representation of the data in an
			<a href="{{ url_for('network') }}">interactive network</a>
			 is achieved using the modern
			<a href="https://github.com/d3/d3-force">JavaScript D3 Force</a> technology.</p>
	</div>
</section>
<!-- Widgets -->
<section id="widgets">
	<div class="widget">
		<h1><i class="fas fa-newspaper"></i> &nbsp;News</h1>
		<div class="widget-content">
			<ul class="news">
				<li>
					<h3>Changelog version 0.4<span class="info">by Jonathan Feenstra, 17-05-2018</span></h3>
					<p>
						<ul>
							<li>Added network selection on click</li>
							<li>Added network highlighting on mouseover</li>
							<li>Added network info widget</li>
							<li>Added network filter option</li>
						</ul>
					</p>
				</li>
				<li>
					<h3>Changelog version 0.3<span class="info">by Jonathan Feenstra, 04-05-2018</span></h3>
					<p>
						<ul>
							<li>Completed the <a href="{{ url_for('about') }}">about page</a></li>
							<li>Added <a href="{{ url_for('network') }}">network</a> with drag and zoom functionality</li>
							<li>Added network search function</li>
						</ul>
					</p>
				</li>
				<li>
					<h3>Changelog version 0.2<span class="info">by Jonathan Feenstra, 02-05-2018</span></h3>
					<p>
						<ul>
							<li>Added image slider</li>
							<li>Added PubMed chart</li>
							<li>Added news widget</li>
							<li>New layout</li>
						</ul>
					</p>
				</li>
				<li>
					<h3>Lorem ipsum<span class="info">by Marcus Tullius Cicero, 45 BC</span></h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</li>
			</ul>
		</div>
	</div>
	<div class="widget">
		<h1><i class="fas fa-chart-bar"></i> &nbsp;Statistics</h1>
		<canvas id="chart"></canvas>
	</div>
</section>
<div class="clear"></div>
{% endblock %}
{% block scripts %}
<!-- CDN's -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<!-- Slider -->
<script type="text/javascript">
	M.Slider.init(document.querySelector('.slider'));
</script>
<!-- Chart -->
<script type="text/javascript" src="{{ url_for('static', filename='js/pubmed-chart.js') }}"></script>
{% endblock %}
