{% extends 'layout.html' %}
{% set active_page = 'home' %}
{% block title %}BATMAN - Biomedical Article Text Mining ApplicatioN{% endblock %}

{% block content %}
<!-- Slider -->
<div class="slider-wrapper">
	<div class="slider">
		<ul class="slides">
			<li>
				<img src="{{ url_for('static', filename='img/batman.gif') }}">
				<div class="caption">
					<h1>Welcome to BATMAN<br>Biomedical Article Text Mining ApplicatioN</h1>
					<p>Investigating the health benefits of bitter gourd and yam compounds</p>
					<form action="{{ url_for('search') }}">
				    <input type="submit" value="Graph">
					</form>
				</div>
			</li>
			<li>
				<img src="{{ url_for('static', filename='img/c-elegans.jpg') }}">
				<div class="caption left-align">
					<h1>Feeding yam and bitter gourd to <i>C. elegans</i></h1>
					<p>The health effects of yam and bitter gourd are currently being researched on <i>Caenorhabditis elegans</i></p>
					<form action="{{ url_for('about') }}">
						<input type="submit" value="Learn more">
					</form>
				</div>
			</li>
			<li>
				<img src="{{ url_for('static', filename='img/showcase.jpg') }}">
				<div class="caption right-align">
					<h1>Text mining results for the investigation</h1>
					<p>The results are based on the co-occurence of keywords in PubMed articles</p>
					<form action="{{ url_for('search') }}">
				    <input type="submit" value="Results">
					</form>
				</div>
			</li>
		</ul>
	</div>
</div>
<!-- Info boxes -->
<section id="boxes">
	<div class="box">
		<a href="https://www.ncbi.nlm.nih.gov/pubmed"><img src="{{ url_for('static', filename='img/pubmed-logo.png')}}" alt="PubMed"></a>
		<h3>PubMed Articles</h3>
		<p>Our data comes from very reliable
			<a href="https://www.ncbi.nlm.nih.gov/pubmed">PubMed</a>
			 articles written by experienced certified scientists.</p>
	</div>
	<div class="box">
		<img src="{{ url_for('static', filename='img/text-mining.png')}}" alt="Text Mining">
		<h3>Text Mining</h3>
		<p>The data is collected using specially designed highly efficiënt text mining algorithms for optimal results.</p>
	</div>
	<div class="box">
		<a href="https://github.com/d3/d3-force"><img src="{{ url_for('static', filename='img/force-layout.png')}}" alt="D3 Force"></a>
		<h3>JavaScript D3 Force</h3>
		<p>The visual representation of the data in an
			<a href="{{ url_for('search') }}">interactive graph</a>
			 is achieved using the modern
			<a href="https://github.com/d3/d3-force">JavaScript D3 Force</a> technology.</p>
	</div>
</section>
{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script type="text/javascript">
	M.Slider.init(document.querySelector('.slider'));
</script>
{% endblock %}
