{% extends 'layout.html' %}
{% set active_page = 'login' %}
{% block title %}BATMAN - Login{% endblock %}

{% block content %}
{% include 'includes/_messages.html' %}
<h1>Login</h1>
<article class="main-col">
  <form id="message" action="" method="post">
    <label>Email</label>
    <input type="text" name="email" class="form-control" value={{request.form.email}}>
    <label>Password</label>
    <input type="password" name="password" class="form-control" value={{request.form.password}}>
    <input type="submit" value="Sign in">
  </form>
</article>
{% endblock %}
