{% extends 'layout.html' %}
{% set active_page = 'register' %}
{% block title %}BATMAN - Register{% endblock %}

{% block content %}
{% include 'includes/_messages.html' %}
<!-- Left column -->
<article class="main-col">
  <h1>Register</h1>
  <!-- Form messages -->
  {% macro render_field(field) %}
    {{ field.label }}
    {{ field(**kwargs)|safe }}
    {% if field.errors %}
      {% for error in field.errors %}
        <span>{{ error }}</span>
      {% endfor %}
    {% endif %}
  {% endmacro %}
  <form id="message" action="" method="post">
    {{ render_field(form.name, class_="form-control") }}
    {{ render_field(form.email, class_="form-control") }}
    {{ render_field(form.password, class_="form-control") }}
    {{ render_field(form.confirm, class_="form-control") }}
    <div class="wrapper">
      <div class="g-recaptcha" data-sitekey="6LcpFFQUAAAAAEL30BerQwoYrOEmxH9k4gud1GQH"></div>
      <input type="submit" value="Sign up">
    </div>
  </form>
</article>
<!-- Right column -->
<aside class="sidebar">
  <img src="{{ url_for('static', filename='img/batman.gif') }}" alt="batman">
</aside>
{% endblock %}
{% block scripts %}
<!-- JavaScript -->
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
