{% extends 'layout.html' %}
{% set active_page = 'search' %}
{% block title %}BATMAN - Search{% endblock %}

{% block body %}
		<div class="container">
			<div id="content">
				<h2>This page is empty...</h2>
				<img src="{{ url_for('static', filename='img/sadbatman.gif')}}" alt="Batman is sad.">
			</div>
			<div id="footer">
				Copyright &copy; 2017-2018 <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Jonathan Feenstra</a>, Thijs Weenink, Bart Droge, Lotte Houwen & <a href="https://www.dccomics.com/">DC Comics</a>
			</div>
		</div>
{% endblock %}
